/* index.css */
/* 
    * GitHub Repository Phishing Alert Appeal & Project Verification
    이 페이지는 깃허브에서 발생한 피싱 경고 오탐지(False Positive)를 해명하고, 해당 코드가 순수한 학습 및 포트폴리오용임을 증명하기 위해 작성되었습니다.
    This CSS is part of a student project. 
    Any resemblance to real-world commercial sites is purely for design practice.
*/
/* --------------------------- 상단 고정바 */
#wrap {width:100%; /* min-width:var(--content-width); */ margin:auto 0;}
#wrap header {
    display:flex; justify-content:center; 
    width: 100%; z-index:999;
    position:fixed; left:0;
}
#wrap header.active {background:var(--main-color);}
#wrap header .content {
    display:flex; justify-content:space-between;
    align-items:center;
    width:1560px;
}
#wrap header .content .logo {width:140px;}
#wrap header .content .logo a {}
#wrap header .content .logo a img {width:100%;}
/* 네비 */
#wrap header .content nav {}
#wrap header .content nav .main_nav {
    display:flex;
    gap:24px;
}
#wrap header .content nav .main_nav > li {
    position: relative; width:max-content; height:max-content;
}
#wrap header .content nav .main_nav > li > a {
    display:block;
    text-align:center;
    font-size:var(--nav-content); padding:23px 0;
}
#wrap header .content nav .main_nav li a {color:var(--font-color);}
#wrap header .content nav .main_nav > li > ul {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    gap:22px;
    width:max-content;
    background:rgba(0, 0, 0, 0.86);
    position: absolute;
    top: 56px;
    left:50%;
    transform:translateX(-50%);
    height:0; overflow: hidden; opacity:0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}
#wrap header .content nav .main_nav > li > a:hover {color:var(--point-color);}
#wrap header .content nav .main_nav > li:hover ul {height:max-content; opacity:1; padding:18px;}
/* 오른쪽 */
#wrap header .content .nav_right {
    display:flex; justify-content:center; align-items:center;
    gap:12px;
}
#wrap header .content .nav_right * {color:var(--font-color);}
#wrap header .content .nav_right > a {display:block; width:24px;}
#wrap header .content .nav_right > a img {width:100%;}
#wrap header .content .nav_right .menu_g {display:none;}
#wrap header .content .nav_right .Language_btn {position:relative;}
#wrap header .content .nav_right .Language_btn .Language {
    display:flex; gap:4;
    justify-content:center; align-items:center;
}
#wrap header .content .nav_right .Language_btn .Language_sub {
    display:flex; flex-flow:column nowrap;
    background:rgba(0, 0, 0, 0.86);
    justify-content:center; align-items:center;
    padding:18px; gap:22px;
    position:absolute;
    top: 130%;
    left:50%;
    transform:translateX(-50%);
    display:none;
}
#wrap header .content .nav_right .Language_btn .Language_sub li {}
#wrap header .content .nav_right .Language_btn .Language_sub li button {color:#666666;}
#wrap header .content .nav_right .Language_btn .Language_sub li .active {font-weight:500; color:var(--font-color);}
/* -------------------------------------------------------- 행 시작 */
/* --------------- 히어로 */
#wrap main {width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;}
#wrap main .video_bg {width:100%; overflow: hidden;}
#wrap main .video_bg video {width:100%; height:100vh; transform:scale(1.28);}
/* -------------------------------------------- 2행 */
#wrap main .marshall_contents {
    display:flex;
    justify-content:center;
    background:var(--main-color); padding:120px 0;
}
#wrap main .marshall_contents .content {
    max-width:var(--content-width);
}
#wrap main .marshall_contents .content h2 {
    color:var(--font-color);
    font-size:var(--title-l);
    text-align:center;
    font-family:'Baskervville';
    margin-bottom:80px;
}
#wrap main .marshall_contents .content .summary_g {
    display:flex;
    gap:30px;
}
#wrap main .marshall_contents .content .summary_g a {
    display:block;
    width:500px; height:618px;
    position: relative; transition: all 0.5s ease;
}
#wrap main .marshall_contents .content .summary_g a::after {
    content:''; position:absolute; bottom:0; left:0;
    display:block; width:100%; height:100%; z-index:70;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    transition: all 0.5s ease;
}
#wrap main .marshall_contents .content .summary_g .rock_sound,
#wrap main .marshall_contents .content .summary_g .heritage,
#wrap main .marshall_contents .content .summary_g .free_power {
    background-size:cover; background-position:center;
}
#wrap main .marshall_contents .content .summary_g .rock_sound {background-image:url(../images/rock_sound.png);}
#wrap main .marshall_contents .content .summary_g .heritage {background-image:url(../images/heritage.png);}
#wrap main .marshall_contents .content .summary_g .free_power {background-image:url(../images/free_power.png);}
#wrap main .marshall_contents .content .summary_g a * {
    color:var(--font-color);
    z-index:80;
}
#wrap main .marshall_contents .content .summary_g h3 {
    display:flex; flex-flow:column nowrap; justify-content:center; align-items: center;
    position:absolute; top:449px; left: 50%;
    transform: translateX(-50%); 
    transition: top 0.4s ease 0.2s, transform 0.4s ease 0.2s;
}
#wrap main .marshall_contents .content .summary_g h3 br {display:none;}
#wrap main .marshall_contents .content .summary_g a > h3 {
    letter-spacing:0;
    font-size:var(--title-m);
    line-height:1.4em;
    font-weight:500;
}
#wrap main .marshall_contents .content .summary_g a > h3 > em {
    font-size:var(--nav-content);
    line-height:1.4em;
    font-weight:300;
}
#wrap main .marshall_contents .content .summary_g a .sound_summary {
    text-align:center;
    line-height:1.6em;
    font-size:1rem;
    position: absolute; 
    top: 60%; width:100%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity:0;
    transition: opacity 0.3s ease, top 0.4s ease, transform 0.3s ease;
}
#wrap main .marshall_contents .content .summary_g a .arrow {width:42px; position:absolute; left:50%; transform:translateX(-50%); bottom:40px;}
#wrap main .marshall_contents .content .summary_g a .arrow img {width:100%;}
/* ------------------------------------ 2행 마우스 호버 */
#wrap main .marshall_contents .content .summary_g a:hover .sound_summary {
    opacity:1;
    top: 56%; width:100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease 0.2s, top 0.4s ease 0.2s, transform 0.4s ease;
}
#wrap main .marshall_contents .content .summary_g a:hover h3 {
    top: 38%;
    transform: translate(-50%, -50%);
    transition: top 0.4s ease, transform 0.4s ease;
}
#wrap main .marshall_contents .content .summary_g a:hover::after {background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);}
/* -------------------------------------------- 3행 */
#wrap main .best_item {
    background:var(--main-color);
    display:flex; flex-flow:column nowrap;
    justify-content:center; align-items:center; gap:80px;
    padding:120px 0;
}
#wrap main .best_item .content {width:var(--content-width); justify-content: center; align-items: center;}
#wrap main .best_item .content .title_nav_more {position:relative;}
#wrap main .best_item .content .title_nav_more * {color:var(--font-color);}
#wrap main .best_item .content .title_nav_more h2 {letter-spacing:0; margin-bottom:22px; font-size:var(--title-l); font-family:'Baskervville';}
#wrap main .best_item .content .title_nav_more .best_nav {display:flex; gap:18px;}
#wrap main .best_item .content .title_nav_more .best_nav * {font-size:var(--nav-content);}
#wrap main .best_item .content .title_nav_more .best_nav .active {color:var(--point-color);}
#wrap main .best_item .content .title_nav_more .more_btn {position:absolute; top:130%; left:0;}
/* best swiper */
#wrap main .best_item .best_swiper {max-width:1920px; padding: 44px 0;}
#wrap main .best_item .best_swiper .swiper-wrapper {}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide {transform:scale(0.86); overflow:hidden;}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide-active {transform:scale(1.1);}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide-active .product_img {margin-bottom:12px; overflow:hidden; border-radius:18px 0 0 0;}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g { border-radius:20px;}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap {overflow:hidden;}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img {position:relative; margin-bottom:10px; overflow:hidden; border-radius:18px 0 0 0;}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img img {width:100%;}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap h3 {
    text-align:center; color:var(--font-color);
    font-size:var(--nav-content);
}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .cart {
    position:absolute; z-index:80; top:4%; right: 4%; display:none;
}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .cart img {width:24px;}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .find {
    position:absolute; z-index:80; bottom:12%; left:5%; font-size:var(--s-find);
    color:var(--point-color); font-size:var(--sub-font); font-weight:300;
    display:flex; align-items:center; gap:4px; display:none;
}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .find img {}
#wrap main .best_item .best_prev,
#wrap main .best_item .best_next {
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:26px;
    top:80%;
}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g:hover .find {display: flex;}
#wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g:hover .cart {display: flex;}
#wrap main .best_item .content .title_nav_more .swiper_btn .best_prev {
    background-image:url(../images/prev.svg);
    left:94%;
}
#wrap main .best_item .content .title_nav_more .swiper_btn .best_prev svg {display:none;}
#wrap main .best_item .content .title_nav_more .swiper_btn .best_next svg {display:none;}
#wrap main .best_item .content .title_nav_more .swiper_btn .best_next {background-image:url(../images/next.svg);}
/* -------------------------------------------- 4행 */
#wrap main .room_item {
    padding:120px 0; gap:60px;
    background:var(--main-color);
    display:flex; justify-content:center;
    flex-flow:column nowrap; align-items:center;
}
#wrap main .room_item .title_img {
    background-image:url(../images/room_back.png); width:1920px; height:405px;
    background-position:center;
    background-size:cover; position:relative;
}
#wrap main .room_item .title_img .more {
    position:absolute; bottom:56px; right:180px;
    color:var(--font-color); font-size:var(--sub-font);
    display:flex; align-items:center; gap:6px;
}
#wrap main .room_item .title_img .more img {width:12px; display: block;
    transform: translateY(1.5px);}
#wrap main .room_item .content {
    width:var(--content-width);
}
#wrap main .room_item .content .room_swiper {padding-bottom:36px;}
#wrap main .room_item .content .room_swiper .swiper-wrapper {}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide {}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g {position: relative; z-index:70;}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g:hover .cart {display:block;}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g:hover .find {display:flex;}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap {}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img {
    width:368px; height:340px;
    margin-bottom:10px;
    border-radius:18px 0 0 0; overflow: hidden;
}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img img {width:100%;}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .title_price {
    display:flex; justify-content:space-between; align-items:center;
}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .title_price h3 {
    font-size:var(--nav-content);
}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .title_price * {color:var(--font-color);}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .cart {
    position:absolute; z-index:80; top:4%; right: 4%; display:none;
}
#wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .cart img {width:24px;}
#wrap main .room_item .content .swiper-scrollbar {
    background: #595959;
    height: 2px; width:100%;
    position:absolute; bottom:0; left:0;
}
#wrap main .room_item .content .swiper-scrollbar-drag {
    background: #373737;
}
/* -------------------------------------------- 5행 */
#wrap main .outdoors {background:var(--main-color);}
#wrap main .outdoors .content {padding:120px 30px; display:flex; gap:30px;}
#wrap main .outdoors .content .outdoors_img {
    position:sticky; left:0; top:50px;
    background-image:url(../images/outdoors.png); width:1134px; height:728px;
    background-size:cover;
}
#wrap main .outdoors .content .outdoors_img .more {
    position:absolute; bottom:44px; right:60px;
    color:var(--font-color); font-size:var(--sub-font);
    display:flex; align-items:center; gap:6px;
}
#wrap main .outdoors .content .outdoors_img .more img {
    width:12px; display: block;
    transform: translateY(1.5px);
}
#wrap main .outdoors .content .outdoors_product {}
#wrap main .outdoors .content .outdoors_product .outdoors_list {
    display:flex; flex-flow:row wrap; width:726px; gap:30px;
}
#wrap main .outdoors .content .outdoors_product .outdoors_list li {position: relative}
#wrap main .outdoors .content .outdoors_product .outdoors_list li:hover .cart {display:block;}
#wrap main .outdoors .content .outdoors_product .outdoors_list li a {}
#wrap main .outdoors .content .outdoors_product .outdoors_list li a .product_img {
    width:348px; height:321px; border-radius:18px 0 0 0; overflow: hidden;
    margin-bottom:10px;
}
#wrap main .outdoors .content .outdoors_product .outdoors_list li a .product_img img {width:100%;}
#wrap main .outdoors .content .outdoors_product .outdoors_list li a .title_price {display:flex; justify-content:space-between; align-items:center;}
#wrap main .outdoors .content .outdoors_product .outdoors_list li a .title_price * {color:var(--font-color);}
#wrap main .outdoors .content .outdoors_product .outdoors_list li a .title_price h3 {font-size:var(--nav-content);}
#wrap main .outdoors .content .outdoors_product .outdoors_list li a .title_price .price {}
#wrap main .outdoors .content .outdoors_product .outdoors_list li .cart {position:absolute; z-index:80; top:4%; right: 4%; display:none;}
#wrap main .outdoors .content .outdoors_product .outdoors_list li .cart img {width:24px;}
/* -------------------------------------------- 6행 */
#wrap main .history {background:var(--main-color); display:flex; justify-content:center;}
#wrap main .history .content {width:var(--content-width); padding:120px 0; overflow:hidden;}
#wrap main .history .content .title {
    display:flex; justify-content:center; gap:16px;
    flex-flow:column nowrap; align-items:center; margin-bottom:80px;
}
#wrap main .history .content .title * {color:var(--font-color);}
#wrap main .history .content .title h2 {
    letter-spacing:0; font-size:var(--title-l); font-family:'Baskervville';
}
#wrap main .history .content .title .history_content {font-size:var(--nav-content);}
#wrap main .history .content .title .history_content br {display:none;}
/* 마샬 레코드 */
#wrap main .marshall_g {width:max-content; display:flex;}
#wrap main .marshall_g * {color:var(--font-color-record); border-radius:10px;}
#wrap main .marshall_g > div:nth-child(2) h3 {font-size:1.875rem;}
#wrap main .marshall_g .record_history {background: #343434;}
#wrap main .marshall_g .record_history h3 {}
#wrap main .marshall_g .record_history h3 img {}
#wrap main .marshall_g .record_history .content_arrow {}
#wrap main .marshall_g .record_history .content_arrow .content {}
#wrap main .marshall_g .record_history .content_arrow p:nth-child(2) {}
#wrap main .marshall_g .record_history .content_arrow p:nth-child(2) img {}
/* -------------------------- 공통 */
#wrap main .marshall_g .marshall_content {
    font-size:var(--nav-content); line-height:1.4em; text-align:center;
}
#wrap main .marshall_g .record_history .back_img {
    position:absolute; z-index: 1; left:0; top:0;
    object-fit: cover; top:30%;
    animation: backSpin 20s linear infinite;
}
#wrap main .marshall_g .drums .back_img {
    position:absolute; z-index: 1; left:0; top:0;
    object-fit: cover; top:33%;
    animation: backSpin 20s linear infinite;
}
#wrap main .marshall_g .record_history,
#wrap main .marshall_g .drums {
    position: relative; overflow:hidden; width:1408px; height:645px;
    background-repeat:no-repeat; background-size:cover; background-position:center -20%;
    padding:80px 0; display:flex; flex-flow:column nowrap; justify-content:space-between; align-items:center;
}
#wrap main .marshall_g .record_history::after,
#wrap main .marshall_g .drums::after {
    content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; z-index: 5;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(197, 160, 89, 0.8) 120%);
}
#wrap main .marshall_g .drums::before {
    content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; z-index: 5;
    background:rgba(0, 0, 0, 0.2);
}
#wrap main .marshall_g div h3 {position:relative; z-index: 10;}
#wrap main .marshall_g .content_arrow {
    display:flex; flex-flow:column nowrap; gap:18px; align-items:center;
    position:relative; z-index: 10;
}
#wrap main .marshall_g .history_none {
    background:#242424; padding:50px 0; gap:16px; width:152px; height:645px;
    display:flex; flex-flow:column nowrap; align-items:center; overflow: hidden;;
    cursor:pointer; position:relative;
}
#wrap main .marshall_g .history_none::after {
    content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(197, 160, 89, 0.8) 300%);
}
#wrap main .marshall_g .history_none h3 {writing-mode: vertical-rl;}
#wrap main .marshall_g .history_none .plus {width:38px;}
#wrap main .marshall_g .history_none .plus img {width:100%;}
#wrap main .marshall_g li .drums,
#wrap main .marshall_g li .record {
    width:1408px;
    background-repeat:no-repeat; background-size:cover; background-position:center -20%;
}
@keyframes backSpin {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
/* 나탈 드럼 */
#wrap main .marshall_g .drums {background: #343434;}
/* -------------------------------------------- 7행 */
#wrap main .guide {background:var(--main-color);}
#wrap main .guide .content {padding:120px 30px; display:flex; flex-flow:column nowrap; align-items:center;}
#wrap main .guide .content .title_swiper_btn {
    width:var(--content-width); margin-bottom:40px; position:relative;
}
#wrap main .guide .content .title_swiper_btn h2 {
    color:var(--font-color);
    font-size:var(--title-l);
    font-family:'Baskervville'; margin-left:16px;
}
#wrap main .guide .content .title_swiper_btn h2::after {
    content:''; display:block; position:absolute; left:0; top:0;
    background:#AC915C; width:4px; height:34px;
}
#wrap main .guide .content .title_swiper_btn .swiper_btn {}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_prev,
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_next {
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:26px;
    top:60%; opacity: 1;
}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_prev {background-image:url(../images/prev.svg); left:94%;}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_prev svg {display:none;}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_next {background-image:url(../images/next.svg);}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_next svg {display:none;}
/* swiper */
#wrap main .guide .content .guide_swiper {width:1920px;}
#wrap main .guide .content .guide_swiper .swiper-wrapper {}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide {}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g {}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g .guide_img {
    margin-bottom:12px;
}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g .guide_img img {width:100%;}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g h3 {color:var(--font-color); font-size:var(--nav-content);}
/* -------------------------------------------- 8행 */
#wrap main .marsahall_about {
    background:var(--main-color);
    display:flex; flex-flow:column nowrap; align-items:center;
}
#wrap main .marsahall_about .content {
    width:1920px;
    background-image:url(../images/about.png);
    background-size:cover; background-position:center; background-repeat: no-repeat;
    display:flex; flex-flow:column nowrap; align-items:center; justify-content:center;
    gap:34px; padding:120px 0;
}
#wrap main .marsahall_about .content h2 {
    font-size:var(--title-l);
    font-family:'Baskervville';
}
#wrap main .marsahall_about .content .about_down {display:flex; flex-flow:row wrap;}
#wrap main .marsahall_about .content .about_up {display:flex; flex-flow:column nowrap;}
#wrap main .marsahall_about .content span br {display:none;}
#wrap main .marsahall_about .content * {color:var(--font-color); font-size:var(--nav-content); line-height:1.68em; text-align:center;}
#wrap main .marsahall_about .content .more {padding:10px 0; font-size:var(--s-find); display:flex; align-items:center; gap:6px;}
#wrap main .marsahall_about .content .more img {
    width:12px; display: block;
    transform: translateY(1.5px);
}
/* -------------------------------------------- footer */
#wrap footer {
    background:var(--main-color);
    display:flex; justify-content:center;
}
#wrap footer * {color:var(--font-color);}
#wrap footer .content {
    padding:100px 0; display:flex; justify-content:space-between;
    width:var(--content-width);
}
/* 왼쪽 */
#wrap footer .content .left {
    display:flex; flex-flow:column nowrap; gap:20px;
}
#wrap footer .content .left .auth_notice {font-size:var(--sub-font); font-weight:500;}
#wrap footer .content .left .detail {}
#wrap footer .content .left .detail * {
    font-size:var(--s-find); margin-bottom:10px;
}
#wrap footer .content .left .detail p:nth-child {margin-bottom:0;}
#wrap footer .content .left .footer_copy {font-size:var(--s-find); font-weight:500;}
/* 오른쪽 */
#wrap footer .content .right {display:flex; gap:64px;}
#wrap footer .content .right h4 {margin-bottom:22px; font-size:var(--sub-font); font-weight:500; text-align:end;}
#wrap footer .content .right ul {}
#wrap footer .content .right ul li {margin-bottom:12px; text-align:end;}
#wrap footer .content .right .service_sub li:nth-child(5) {margin-bottom:0;}
#wrap footer .content .right .social_sub li:nth-child(3) {margin-bottom:0;}
#wrap footer .content .right .marshall li:nth-child(3) {margin-bottom:0;}
#wrap footer .content .right ul li a {font-size:var(--sub-font); color:var(--footer);}