/* index.css */
/* 
    * GitHub Repository Phishing Alert Appeal & Project Verification
    이 페이지는 깃허브에서 발생한 피싱 경고 오탐지(False Positive)를 해명하고, 해당 코드가 순수한 학습 및 포트폴리오용임을 증명하기 위해 작성되었습니다.
    This CSS is part of a student project. 
    Any resemblance to real-world commercial sites is purely for design practice.
*/
/* --------------------------- 상단 고정바 */
#wrap {max-width:1920px; min-width:var(--content-width); margin:auto 0;}
header {
    display:flex; justify-content:center; 
    width: 100%; z-index:999;
    position:fixed; left:0;
}
header.active {background:var(--main-color);}
header .content {
    display:flex; justify-content:space-between;
    align-items:center;
    width:1560px;
    padding:14px 0;
}
header .content .logo {width:140px;}
header .content .logo a {}
header .content .logo a img {width:100%;}
/* 네비 */
header .content nav {}
header .content nav .main_nav {
    display:flex;
    gap:24px;
}
header .content nav .main_nav > li {
    position: relative; width:max-content; height:max-content;
}
header .content nav .main_nav > li > a {
    display:block;
    text-align:center;
    font-size:var(--nav-content);
}
header .content nav .main_nav li a {color:var(--font-color);}
header .content nav .main_nav > li > ul {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    gap:22px;
    width:max-content;
    background:rgba(0, 0, 0, 0.86);
    position: absolute;
    top: 200%;
    left:50%;
    transform:translateX(-50%);
    height:0; overflow: hidden; opacity:0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}
header .content nav .main_nav > li > a:hover {color:var(--point-color);}
header .content nav .main_nav > li:hover ul {height:max-content; opacity:1; padding:18px;}
/* 오른쪽 */
header .content .nav_right {
    display:flex; justify-content:center; align-items:center;
    gap:12px;
}
header .content .nav_right * {color:var(--font-color);}
header .content .nav_right > a {display:block; width:24px;}
header .content .nav_right > a img {width:100%;}
header .content .nav_right .Language_btn {position:relative;}
header .content .nav_right .Language_btn .Language {
    display:flex; gap:4;
    justify-content:center; align-items:center;
}
header .content .nav_right .Language_btn .Language_sub {
    display:flex; flex-flow:column nowrap;
    background:rgba(0, 0, 0, 0.86);
    justify-content:center; align-items:center;
    padding:18px; gap:22px;
    position:absolute;
    top: 130%;
    left:50%;
    transform:translateX(-50%);
    display:none;
}
header .content .nav_right .Language_btn .Language_sub li {}
header .content .nav_right .Language_btn .Language_sub li a {}
/* -------------------------------------------------------------------------- js로 클릭 이벤트 바꾸기 */
/* header .content .nav_right .Language_btn:hover .Language_sub {display:flex;} */
/* -------------------------------------------------------- 행 시작 */
/* --------------- 히어로 */
main {}
main .video-background {
  position: relative;
  width: 100%;
  height: 100vh; /* 화면 전체 높이 */
  overflow: hidden;
}

main .video-background iframe {
  width: 100%;
  height: 56.25vw; /* 가로(100vw) 기준 16:9 비율 자동 계산 */
  display: block;
  pointer-events: none; /* 마우스 이벤트 차단 */
}

/* 핵심: 위에 투명한 박스를 얹어서 유튜브 UI를 완전히 가림 */
main .video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
/* -------------------------------------------- 2행 */
main .marshall_contents {
    display:flex;
    justify-content:center;
    background:var(--main-color); padding:120px 0;
}
main .marshall_contents .content {
    max-width:var(--content-width);
}
main .marshall_contents .content h2 {
    color:var(--font-color);
    font-size:var(--title-l);
    text-align:center;
    font-family:'Baskervville';
    margin-bottom:80px;
}
main .marshall_contents .content .summary_g {
    display:flex; justify-content:space-between;
    gap:30px;
}
main .marshall_contents .content .summary_g div {
    width:500px; height:618px;
    position: relative; transition: all 0.5s ease;
}
main .marshall_contents .content .summary_g div::after {
    content:''; position:absolute; bottom:0; left:0;
    display:block; width:100%; height:100%; z-index:70;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    transition: all 0.5s ease;
}
main .marshall_contents .content .summary_g .rock_sound {background-image:url(../images/rock_sound.png);}
main .marshall_contents .content .summary_g .heritage {background-image:url(../images/heritage.png);}
main .marshall_contents .content .summary_g .free_power {background-image:url(../images/free_power.png);}
main .marshall_contents .content .summary_g div * {
    color:var(--font-color);
    z-index:80;
}
main .marshall_contents .content .summary_g h3 {
    display:flex; flex-flow:column nowrap; justify-content:center; align-items: center;
    position:absolute; top:449px; left:151.5px; 
    transition: top 0.4s ease 0.2s, transform 0.4s ease 0.2s;
}
main .marshall_contents .content .summary_g h3 br {display:none;}
main .marshall_contents .content .summary_g div > h3 {
    letter-spacing:0;
    font-size:var(--title-m);
    line-height:1.4em;
    font-weight:500;
}
main .marshall_contents .content .summary_g div > h3 > em {
    font-size:var(--nav-content);
    line-height:1.4em;
    font-weight:300;
}
main .marshall_contents .content .summary_g div .sound_summary {
    text-align:center;
    line-height:1.6em;
    position: absolute; 
    top: 60%; width:100%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity:0;
    transition: opacity 0.3s ease, top 0.4s ease, transform 0.3s ease;
}
main .marshall_contents .content .summary_g div .arrow {width:42px; position:absolute; left:229px; bottom:40px;}
main .marshall_contents .content .summary_g div .arrow img {width:100%;}
/* ------------------------------------ 2행 마우스 호버 */
main .marshall_contents .content .summary_g div:hover .sound_summary {
    opacity:1;
    top: 50%; width:100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease 0.2s, top 0.4s ease 0.2s, transform 0.4s ease;
}
main .marshall_contents .content .summary_g div:hover h3 {
    top: 32%;
    transform: translateY(-50%);
    transition: top 0.4s ease, transform 0.4s ease;
}
main .marshall_contents .content .summary_g div:hover .arrow {display:none;}
main .marshall_contents .content .summary_g div:hover::after {background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);}
/* -------------------------------------------- 3행 */
main .best_item {
    background:var(--main-color);
    display:flex; flex-flow:column nowrap;
    justify-content:center; align-items:center; gap:80px;
    padding:120px 0;
}
main .best_item .content {width:var(--content-width); justify-content: center; align-items: center;}
main .best_item .content .title_nav_more {position:relative;}
main .best_item .content .title_nav_more * {color:var(--font-color);}
main .best_item .content .title_nav_more h2 {letter-spacing:0; margin-bottom:22px; font-size:var(--title-l); font-family:'Baskervville';}
main .best_item .content .title_nav_more .best_nav {display:flex; gap:18px;}
main .best_item .content .title_nav_more .best_nav .active {color:var(--point-color);}
main .best_item .content .title_nav_more .more_btn {position:absolute; top:130%; left:0;}
/* best swiper */
main .best_item .best_swiper {width:100%; padding: 44px 0;}
main .best_item .best_swiper .swiper-wrapper {}
main .best_item .best_swiper .swiper-wrapper .swiper-slide {transform:scale(0.86); overflow:hidden;}
main .best_item .best_swiper .swiper-wrapper .swiper-slide-active {transform:scale(1.1);}
main .best_item .best_swiper .swiper-wrapper .swiper-slide-active .product_img {margin-bottom:12px;}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g {}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap {}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img {position:relative; margin-bottom:10px;}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img img {width:100%;}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap h3 {
    text-align:center; color:var(--font-color);
    font-size:var(--nav-content);
}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .cart {
    position:absolute; z-index:80; top:4%; right: 4%; display:none;
}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .cart img {width:24px;}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .find {
    position:absolute; z-index:80; bottom:12%; left:5%; font-size:var(--s-find);
    color:var(--point-color); font-size:var(--sub-font); font-weight:300;
    display:flex; align-items:center; gap:4px; display:none;
}
main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .find img {}
main .best_item .best_prev,
main .best_item .best_next {
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:26px;
    top:80%;
}
main .best_item .content .title_nav_more .swiper_btn .best_prev {
    background-image:url(../images/prev.svg);
    left:94%;
}
main .best_item .content .title_nav_more .swiper_btn .best_prev svg {display:none;}
main .best_item .content .title_nav_more .swiper_btn .best_next svg {display:none;}
main .best_item .content .title_nav_more .swiper_btn .best_next {background-image:url(../images/next.svg);}
/* -------------------------------------------- 4행 */
main .room_item {
    padding:120px 0; gap:60px;
    background:var(--main-color);
    display:flex; justify-content:center;
    flex-flow:column nowrap; align-items:center;
}
main .room_item .title_img {
    background-image:url(../images/room_back.png); width:100%; height:405px;
    background-position:center;
    background-size:cover; position:relative;
}
main .room_item .title_img .more {
    position:absolute; bottom:56px; right:180px;
    color:var(--font-color); font-size:var(--sub-font);
    display:flex; align-items:center; gap:6px;
}
main .room_item .title_img .more img {width:12px; display: block;
    transform: translateY(1.5px);}
main .room_item .content {
    width:var(--content-width);
}
main .room_item .content .room_swiper {padding-bottom:36px;}
main .room_item .content .room_swiper .swiper-wrapper {}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide {}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g {position: relative; z-index:70;}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g:hover .cart {display:block;}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g:hover .find {display:flex;}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap {}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img {
    width:368px; height:340px;
    margin-bottom:10px;
    border-radius:18px 0 0 0; overflow: hidden;
}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img img {width:100%;}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .title_price {
    display:flex; justify-content:space-between; align-items:center;
}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .title_price h3 {
    font-size:var(--nav-content);
}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .title_price * {color:var(--font-color);}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .cart {
    position:absolute; z-index:80; top:4%; right: 4%; display:none;
}
main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .cart img {width:24px;}
main .room_item .content .swiper-scrollbar {
    background: #595959;
    height: 2px; width:100%;
    position:absolute; bottom:0; left:0;
}
main .room_item .content .swiper-scrollbar-drag {
    background: #373737;
}
/* -------------------------------------------- 5행 */
main .outdoors {background:var(--main-color);}
main .outdoors .content {padding:120px 30px; display:flex; gap:30px;}
main .outdoors .content .outdoors_img {
    position:sticky; left:0; top:50px;
    background-image:url(../images/outdoors.png); width:1134px; height:728px;
}
main .outdoors .content .outdoors_img .more {
    position:absolute; bottom:44px; right:60px;
    color:var(--font-color); font-size:var(--sub-font);
    display:flex; align-items:center; gap:6px;
}
main .outdoors .content .outdoors_img .more img {
    width:12px; display: block;
    transform: translateY(1.5px);
}
main .outdoors .content .outdoors_product {}
main .outdoors .content .outdoors_product .outdoors_list {
    display:flex; flex-flow:row wrap; width:726px; gap:30px;
}
main .outdoors .content .outdoors_product .outdoors_list li {position: relative}
main .outdoors .content .outdoors_product .outdoors_list li:hover .cart {display:block;}
main .outdoors .content .outdoors_product .outdoors_list li a {}
main .outdoors .content .outdoors_product .outdoors_list li a .product_img {
    width:348px; height:321px; border-radius:18px 0 0 0; overflow: hidden;
    margin-bottom:10px;
}
main .outdoors .content .outdoors_product .outdoors_list li a .product_img img {width:100%;}
main .outdoors .content .outdoors_product .outdoors_list li a .title_price {display:flex; justify-content:space-between; align-items:center;}
main .outdoors .content .outdoors_product .outdoors_list li a .title_price * {color:var(--font-color);}
main .outdoors .content .outdoors_product .outdoors_list li a .title_price h3 {font-size:var(--nav-content);}
main .outdoors .content .outdoors_product .outdoors_list li a .title_price .price {}
main .outdoors .content .outdoors_product .outdoors_list li .cart {position:absolute; z-index:80; top:4%; right: 4%; display:none;}
main .outdoors .content .outdoors_product .outdoors_list li .cart img {width:24px;}
/* -------------------------------------------- 5행 */
main .history {background:var(--main-color); display:flex; justify-content:center;}
main .history .content {width:var(--content-width); padding:120px 0;}
main .history .content .title {
    display:flex; justify-content:center; gap:16px;
    flex-flow:column nowrap; align-items:center; margin-bottom:80px;
}
main .history .content .title * {color:var(--font-color);}
main .history .content .title h2 {
    letter-spacing:0; font-size:var(--title-l); font-family:'Baskervville';
}
main .history .content .title .history_content {font-size:var(--nav-content);}
main .history .content .title .history_content br {display:none;}
/* 마샬 레코드, 드럼 */
/* 마샬 레코드 */
#wrap main .marshall_g {width:max-content; display:flex;}
#wrap main .marshall_g li * {color:var(--font-color-record);}
#wrap main .marshall_g li > * {border-radius:10px;}
#wrap main .marshall_g > li {
    display:flex; height:645px;
} 
#wrap main .marshall_g li .record {background: #343434;} 
#wrap main .marshall_g li .record h3 {} 
#wrap main .marshall_g li .record h3 img {} 
#wrap main .marshall_g li .record .content_arrow {} 
#wrap main .marshall_g li .record .content_arrow .content {} 
#wrap main .marshall_g li .record .content_arrow p:nth-child(2) {} 
#wrap main .marshall_g li .record .content_arrow p:nth-child(2) img {} 
/* -------------------------- 공통 */
#wrap main .marshall_g li .record .back_img {
    position:absolute; z-index: 1; left:0; top:0;
    object-fit: cover; top:30%;
    animation: backSpin 20s linear infinite;
}
#wrap main .marshall_g li .drums .back_img {
    position:absolute; z-index: 1; left:0; top:0;
    object-fit: cover; top:33%;
    animation: backSpin 20s linear infinite;
}
#wrap main .marshall_g li .record,
#wrap main .marshall_g li .drums {
    position: relative; overflow:hidden; transition: width 0.5s ease;
    width:1408px;
    background-repeat:no-repeat; background-size:cover; background-position:center -20%;
    padding:80px 0; display:flex; flex-flow:column nowrap; justify-content:space-between; align-items:center;
}
#wrap main .marshall_g li .record::after,
#wrap main .marshall_g li .drums::after {
    content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; z-index: 5;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(197, 160, 89, 0.8) 120%);
}
#wrap main .marshall_g li p:nth-child(1) {text-align:center; line-height:1.4em;}
#wrap main .marshall_g li > h3 {position:relative; z-index: 10;}
#wrap main .marshall_g li .content_arrow {
    display:flex; flex-flow:column nowrap; gap:18px; align-items:center;
    position:relative; z-index: 10;
}
#wrap main .marshall_g li .plus {} 
#wrap main .marshall_g li [class*="none"] h3 {
    writing-mode: vertical-rl;
    font-size:var(--title_mx);
}
#wrap main .marshall_g [class*="none"] {
    width:152px; background:#242424; padding:50px 0; gap:16px; 
    display:flex; flex-flow:column nowrap; align-items:center; overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(197, 160, 89, 0.8) 300%);
    cursor:pointer;
}
#wrap main .marshall_g li .drums,
#wrap main .marshall_g li .record {
    width:1408px;
    background-repeat:no-repeat; background-size:cover; background-position:center -20%;
}
@keyframes backSpin {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
/* 나탈 드럼 */
#wrap main .marshall_g li .drums {background: #343434;}
/* -------------------------------------------- 7행 */
#wrap main .guide {background:var(--main-color);}
#wrap main .guide .content {padding:120px 30px; display:flex; flex-flow:column nowrap; align-items:center;}
#wrap main .guide .content .title_swiper_btn {
    width:var(--content-width); margin-bottom:40px; position:relative;
}
#wrap main .guide .content .title_swiper_btn h2 {
    color:var(--font-color);
    font-size:var(--title-l);
    font-family:'Baskervville'; margin-left:16px;
}
#wrap main .guide .content .title_swiper_btn h2::after {
    content:''; display:block; position:absolute; left:0; top:0;
    background:#AC915C; width:4px; height:34px;
}
#wrap main .guide .content .title_swiper_btn .swiper_btn {}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_prev,
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_next {
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:26px;
    top:60%; opacity: 1;
}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_prev {background-image:url(../images/prev.svg); left:94%;}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_prev svg {display:none;}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_next {background-image:url(../images/next.svg);}
#wrap main .guide .content .title_swiper_btn .swiper_btn .guide_next svg {display:none;}
/* swiper */
#wrap main .guide .content .guide_swiper {width:100%;}
#wrap main .guide .content .guide_swiper .swiper-wrapper {}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide {}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g {}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g .guide_img {
    margin-bottom:12px;
}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g .guide_img img {}
#wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g h3 {color:var(--font-color); font-size:var(--nav-content);}
/* -------------------------------------------- 8행 */
#wrap main .marsahall_about {
    background-image:url(../images/about.png);
    display:flex; flex-flow:column nowrap; align-items:center;
}
#wrap main .marsahall_about .content {
    width:var(--content-width);
    display:flex; flex-flow:column nowrap; align-items:center; justify-content:center;
    gap:34px; padding:120px 0;
}
#wrap main .marsahall_about .content h2 {
    font-size:var(--title-l);
    font-family:'Baskervville';
}
#wrap main .marsahall_about .content .about_down {display:flex; flex-flow:row wrap;}
#wrap main .marsahall_about .content .about_up {display:flex; flex-flow:column nowrap;}
#wrap main .marsahall_about .content span br {display:none;}
#wrap main .marsahall_about .content * {color:var(--font-color); font-size:var(--nav-content); line-height:1.68em; text-align:center;}
#wrap main .marsahall_about .content .more {padding:10px 0; font-size:var(--s-find); display:flex; align-items:center; gap:6px;}
#wrap main .marsahall_about .content .more img {
    width:12px; display: block;
    transform: translateY(1.5px);
}
/* -------------------------------------------- footer */
#wrap footer {
    background:var(--main-color);
    display:flex; justify-content:center;
}
#wrap footer * {color:var(--font-color);}
#wrap footer .content {
    padding:100px 0; display:flex; justify-content:space-between;
    width:var(--content-width);
}
/* 왼쪽 */
#wrap footer .content .left {
    display:flex; flex-flow:column nowrap; gap:20px;
}
#wrap footer .content .left .auth_notice {font-size:var(--sub-font); font-weight:500;}
#wrap footer .content .left .detail {}
#wrap footer .content .left .detail * {
    font-size:var(--s-find); margin-bottom:10px;
}
#wrap footer .content .left .detail p:nth-child {margin-bottom:0;}
#wrap footer .content .left .footer_copy {font-size:var(--s-find); font-weight:500;}
/* 오른쪽 */
#wrap footer .content .right {display:flex; gap:64px;}
#wrap footer .content .right h4 {margin-bottom:22px; font-size:var(--sub-font); font-weight:500; text-align:end;}
#wrap footer .content .right ul {}
#wrap footer .content .right ul li {margin-bottom:12px; text-align:end;}
#wrap footer .content .right .service_sub li:nth-child(5) {margin-bottom:0;}
#wrap footer .content .right .social_sub li:nth-child(3) {margin-bottom:0;}
#wrap footer .content .right .marshall li:nth-child(3) {margin-bottom:0;}
#wrap footer .content .right ul li a {font-size:var(--sub-font); color:var(--footer);}