/* 반응형 디자인 */
/* 태블릿 */
@media screen and (max-width:1560px) {
    /* 상단 고정바 */
    #wrap header .content {width:100%; padding:0px 68px;}
    #wrap header .content .logo a {display:block; width:132px; height:34px;}
    #wrap header .content .logo a img {width:100%;}
    #wrap header .content nav .main_nav > li > a {padding:20px 0;}
    /* 전체 메뉴 */
    /* #wrap header .content .nav_right .menu_g {display:flex;}
    #wrap header .content .nav_right .menu_g .menu {
        position:absolute; right:0px; top:58px; background:rgba(18, 18, 18, 0.86);
        height:0; opacity:0;
    }
    #wrap header .content .nav_right .menu_g .menu.active {height:100vh; width:380px; opacity:1; padding:32px 30px;}
    #wrap header .content .nav_right .menu_g .menu button {
        position:relative; color:#666666;
        font-size:var(--t-nav-title); padding:8px 8px 8px 0;
    }
    #wrap header .content .nav_right .menu_g .menu .outlet {color:#666666;
        font-size:var(--t-nav-title); padding:8px 8px 8px 0; position: relative;}
    #wrap header .content .nav_right .menu_g .menu .outlet::after{
        content:''; display:block; position:absolute; right:-6px;
        background:#666; height:22px; width:2px;
    }
    #wrap header .content .nav_right .menu_g .menu button::after {
        content:''; display:block; position:absolute; right:-6px;
        background:#666; height:22px; width:2px;
    }
    #wrap header .content .nav_right .menu_g .menu > li {margin-bottom:28px;}
    #wrap header .content .nav_right .menu_g .menu > li:nth-child(5) {margin-bottom:0px;}
    #wrap header .content .nav_right .menu_g .menu * {
        display:flex; flex-flow:column nowrap; justify-content:center; align-items:flex-end;
    }
    #wrap header .content .nav_right .menu_g .menu ul {height:0; opacity:0;}
    #wrap header .content .nav_right .menu_g .menu ul li a {color:var(--font-color);} */
    /* -------------------------------------------- 히어로 */
    /* -------------------------------------------- 2행 */
    #wrap main .marshall_contents {padding:0px; display:block; width:100%;}
    #wrap main .marshall_contents .content {width:100%; padding:80px 64px;}
    #wrap main .marshall_contents .content h2 {font-size:var(--t-title-l); margin-bottom:50px;}
    #wrap main .marshall_contents .content .summary_g {width: 100%;}
    #wrap main .marshall_contents .content .summary_g a {}
    #wrap main .marshall_contents .content .summary_g h3 {}
    #wrap main .marshall_contents .content .summary_g a > h3 {font-size:var(--nav-content); width:100%;}
    #wrap main .marshall_contents .content .summary_g a > h3 > em {font-size:1rem;}
    #wrap main .marshall_contents .content .summary_g .rock_sound,
    #wrap main .marshall_contents .content .summary_g .heritage,
    #wrap main .marshall_contents .content .summary_g .free_power {
        background-size:cover; background-position:center;
    }
    /* -------------------------------------------- 3행 */
    #wrap main .best_item {padding:80px 0; display:block; width:100%;}
    #wrap main .best_item .content {}
    #wrap main .best_item .content .title_nav_more {padding:0 64px; margin-bottom:50px;}
    #wrap main .best_item .content .title_nav_more h2 {font-size:var(--t-title-l);}
    #wrap main .best_item .content .title_nav_more .best_nav * {font-size:1rem;}
    #wrap main .best_item .content .title_nav_more .more_btn {width:47px; position:absolute; top:130%; left:64px;}
    /* swiper */
    #wrap main .best_item .best_swiper {}
    #wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap h3 {font-size:1rem;}
    #wrap main .best_item .best_prev,
    #wrap main .best_item .best_next {width:23px; height:46px;}
    #wrap main .best_item .content .title_nav_more .swiper_btn .best_next {right:0%;}
    #wrap main .best_item .content .title_nav_more .swiper_btn .best_prev {left:0%;}
    #wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .cart {display: block;}
    #wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .cart img {width:24px;}
    #wrap main .best_item .best_swiper .swiper-wrapper .swiper-slide .product_g .find {display:flex; font-size:var(--sub-font);}
    /* -------------------------------------------- 4행 */
    #wrap main .room_item {padding:80px 0; gap:60px; width:100%;}
    #wrap main .room_item .title_img {width:100%; height:306px;}
    #wrap main .room_item .title_img .more {bottom:34px; right:64px;}
    #wrap main .room_item .content .room_swiper { padding-bottom:36px; width:1500px;}
    #wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide {width:300px !important;}
    #wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .product_img {width:300px; height:277px;}
    #wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .title_price h3 {font-size:1rem;}
    #wrap main .room_item .content .room_swiper .swiper-wrapper .swiper-slide .product_g .product_wrap .title_price .price {font-size:var(--sub-font);}
    /* -------------------------------------------- 5행 */
    #wrap main .outdoors .content {padding:80px 30px; display:flex; gap:30px;}
    #wrap main .outdoors .content .outdoors_img {width:100%; height:600px;}
    #wrap main .outdoors .content .outdoors_product .outdoors_list {width:608px; gap:14.5;}
    #wrap main .outdoors .content .outdoors_product .outdoors_list li a .product_img {width:289px; height:267px;}
    #wrap main .outdoors .content .outdoors_product .outdoors_list li a .title_price h3 {font-size:1rem;}
    /* -------------------------------------------- 6행 */
    #wrap main .history {display: block;}
    #wrap main .history .content {width:100%; padding:80px 64px;}
    #wrap main .history .content .title {margin-bottom:50px;}
    #wrap main .history .content .title h2 {font-size:var(--t-title-l);}
    #wrap main .outdoors .content .outdoors_product .outdoors_list li .cart {display:block;}
    /* -------------------------------------------- 7행 */
    #wrap main .guide .content {padding:80px 64px;}
    #wrap main .guide .content .title_swiper_btn {width:100%;}
    #wrap main .guide .content .title_swiper_btn h2 {font-size:var(--t-title-l);}
    #wrap main .guide .content .guide_swiper {width:100%;}
    #wrap main .guide .content .guide_swiper .swiper-wrapper .swiper-slide .guide_g .guide_img {width:288px; margin-bottom:12px;}
    /* -------------------------------------------- 8행 */
    #wrap main .marsahall_about .content {width:100%;}
    /* -------------------------------------------- footer */
    #wrap footer .content {
        padding:64px 50px; width:100%;}
}