:root {
    /* font_size */
    --title-l:2.125rem;
    --nav-content:1.125rem;/* 18 */
    --title-m:1.375rem;
    --sub-font:0.875rem;/* 14 */
    --s-find:0.75rem;/* 12 */
    --title_mx:1.875rem;
    --t-title-l:1.75rem;
    --t-nav-title:1.375rem;
    --t-footer:0.625rem;/* 10 */
    --m-nav-title:1.25rem;
    --m-sub:0.5rem;

    /* color */
    --main-color:#121212;
    --point-color:#FFC452;
    --font-color:#cccccc;
    --font-color-record:#cdcdcd;
    --footer:#aaaaaa;

    /* width */
    --content-width:1560px;
    --t-content-width:1024px;
}